.contact-form{
    background-color: #D1D2DF;
    padding: 0;
    margin: 0;
}

.contact-form h1 {
    text-align: center;
    color: #555252;

    padding: 30px 0px;
    margin: 0;
}

.contact{

    /* position: relative; */

    display: flex;
    justify-content: center;
    padding: 30px;
}

.form{
    box-shadow: 5px 5px 10px 2px #a09e9e;
    background-color: #E0DFEC;
    padding:  50px;
}

.form-input{
    padding: 10px 40px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.form-input label{
    font-weight: 600;
}

.form-input input{
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #D1D2DF;
    background-color: #f3f3f8;
}

.form-input textarea{
   
    padding: 6px 0;

    border-radius: 4px;
    border: 1px solid #D1D2DF;
    background-color: #f3f3f8;
}

.form-btn button{
    background-color: #555252;
    color: white;

    padding: 10px 30px;
    margin: 10px 30px;

    border: none;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
}

.form-btn button:hover{
    background-color: #eeecec;
    color: #555252;
    border: 1px solid #555252;
}

.contact-img img{
    width: 500px;
}


.popup-box{
    margin: 0 auto;
    justify-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
}
.popUp{
   text-align: center;
    background-color: #eff0f1;
    color: #555252;
    border: 1px solid #bbb4b4;
    
    border-radius: 4px;
    box-shadow: 5px 5px 20px 5px #555252;;

    width: 300px;
    padding: 15px;
}
.popUp p{
    font-size: 18px;
}
.popup-btn button{
    background-color: #555252;
    color: white;

    padding: 10px 30px;
    margin: 10px 30px;

    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.popup-btn button:hover{
    background-color: #919090;
    border: 1px solid #555252;
}








/* ----------------------------------Media Query------------------------------------------- */

@media(max-width: 1050px){

.contact{
    flex-direction: column;
    margin: 50px 10px;
}
.contact-img img{
    width: 500px;
    position: absolute;
    top: 45%;
    left: 40%;
}}



@media(max-width: 900px){

.contact-img img{
    width: 480px;
    top: 50%;
}}


@media(max-width: 850px){

.contact-img img{
    width: 440px;
    top: 53%;
}}

@media(max-width: 780px){

.contact-img img{
    display: none;
}}

@media(max-width: 560px){

    .form{
        padding:  15px 0px;
    }
}


@media(max-width: 430px){

.form-input{
    padding: 10px 20px;
}

.form-input input{
    padding: 3px;
}
.form-input label{
    font-weight: 500;
    font-size: 14px;
}
.form-input textarea{
    padding: 3px 0;
}

.form-btn button{
    padding: 10px 12px; 
    border: none;
    font-size: 15px;
}
}