.tech-stack{
    background-color: #e9e6e6;
    padding:  50px 0;
}

.tech-stack h1{
    color: #555252;
    text-align: center;
}

.tech-cards{
    display: flex;
    justify-content: center;
}

.tech-card{
    background-color: #D1D2DF;
    color: #555252;
    width: 200px;

    padding: 30px;
    margin: 30px;

    text-align: center;
    align-items: center;
}


.tech-icon{
    font-size: 50px;
}
