*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.home{
    background-color: #D1D2DF;
    padding: 80px 10%;
    
    display: flex;
    justify-content: center;

    align-items: center;
}
.profile-left{
   flex: 2;
   width: 100%;
   color: #555252;
}
.profile-left h1{
    margin-bottom: 0px;
}
.profile-left h3{
    padding-top: 0px;
    margin-top: 0px;
}
.profile-right{
    flex: 1.5;
    display: flex;
    justify-content: center;
}
.profile-right img{
    width: 400px;
    max-width: 100%;
}
.profile-btn{
    display: flex;
    gap: 20px;
}


.profile-btn button{

    background-color: #555252;
    color: white;

    border-radius: 5px;
    border: none;

    padding: 8px 12px;
    margin-top: 10px;

    font-size: 16px;
    font-weight: 500;

}
.profile-btn button:hover{
    background-color: #E0DFEC;
    color: #555252;
}









/* ----------------------------------Media Query------------------------------------------- */
@media(max-width: 900px){
.home{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.profile-left{
   width: 100%;
}
.profile-left p{
    padding-right: 0px;
}
.profile-right{
    width: 100%;
}
.profile-right img{
    /* width: 400px; */
    width: 100%;
}
}

