
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.Navbar {
    background-color: #E0DFEC;

    padding: 20px 8%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    list-style: none;
}

.navbar-menu li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar-menu li a:hover {
    color: #948a8a;
}

.contact-btn {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-btn li {
    background-color: #555252;

    list-style: none;

    padding: 8px 12px;

    border-radius: 8px;
}

.contact-btn li a {
    border: none;

    font-size: 16px;
    font-weight: 550;

    color: white;
    text-decoration: none;
}

.contact-btn li:hover {
    background-color: #948a8a;
}









/* ----------------------------------Media Query------------------------------------------- */

@media (max-width: 1100px) {

    .Navbar {
        padding: 20px 5%;
        gap: 35px;
    }

    .navbar-menu {
        gap: 25px;
    }

    .navbar-menu li a {
        font-size: 18px;
    }
}

@media (max-width: 900px) {

    .Navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 15px;

        padding: 20px;
    }

    .navbar-menu {
        width: 100%;
        justify-content: center;

        gap: 15px 25px;
        flex-wrap: wrap;
    }

    .contact-btn {
        margin: 0;
    }
}

@media (max-width: 600px) {

    .Navbar {
        padding: 20px 15px;
    }

    .navbar-menu {
        gap: 12px 20px;
    }

    .navbar-menu li a {
        font-size: 17px;
    }
}

@media (max-width: 400px) {

    .navbar-menu {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-menu li a {
        font-size: 18px;
    }
}