.projects {
    padding: 30px 0;
}

.projects h1 {
    padding: 20px 0 30px;
    color: #555252;
    text-align: center;
}

.projects .card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    color: #555252;
    box-shadow: 5px 5px 10px 2px #a09e9e;
}

.card-img-top {
    height: 200px;
    
    object-fit: fill;
    transition: transform 3.05 ease;
}
.card-img-top:hover{
     transform: scale(1.05);
}
.card-body {
    padding: 12px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 6px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 8px;
}

.card-body button {
    background-color: #E0DFEC;
    border-radius: 5px;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin-top: 5px;
}

.card-body button:hover {
    background-color: #555252;
    color: white;
}